table tr {
    background-image: linear-gradient(to right, #ffd73b, #ffd73b);
    background-repeat: no-repeat;
    background-size: 0 100%;
    color: #000000;
    font-weight: normal;
    transition: background-size .5s ease;
}

table .active {
    background-size: 100% 100%;
    color: #ff4500;
    font-weight: 400;
}

table tr td {
    color: #000000;
    transition: color .5s ease, font-weight .5s ease;
}

table .active td {
    color: #ff4500;
    font-weight: 600;
}

table td:first-child {
    padding-left: 10px;
    width: 150px;
}

table td:last-child {
    text-align: center;
    width: 70px;
}