body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.task-manager-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 20px;
  width: 80%;
}

[class*="form-wrapper"] {
  border: 1px dashed #000000;
  width: 30%;
}

.tasks-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  width: 100%;
}

.task-list {
  width: calc( ( 100% - (var(--columns) * 15px) ) / var(--columns) );
}
